## ESP32-3248S035C - Display 3.5" Touch Capacitivo ##
## Arquivo de Teste: TERMOSTATO - Debug v3 ##

substitutions:
  devicename: termostato-piso
  friendly_name: "Termostato Piso"

esphome:
  name: ${devicename}
  platformio_options:
    build_flags: "-DBOARD_HAS_PSRAM"
    board_build.esp-idf.memory_type: qio_opi
    board_build.flash_mode: dio
    board_upload.maximum_ram_size: 524288

esp32:
  board: esp32dev
  framework:
    type: arduino

globals:
  - id: target_temp
    type: float
    initial_value: '22.0'
  - id: current_temp
    type: float
    initial_value: '20.5'
  - id: is_heating
    type: bool
    initial_value: 'false'

logger:

api:

ota:
  - platform: esphome

wifi:
  ssid: "Toniezzer"
  password: "caroletoni"

font:
  - file:
      type: gfonts
      family: Roboto
    id: roboto24
    size: 24
    bpp: 4
    extras:
      - file: "fonts/materialdesignicons-webfont.ttf"
        glyphs: ["\U000F0141", "\U000F0142", "\U000F0238"]

  - file: "fonts/materialdesignicons-webfont.ttf"
    id: icons_40
    size: 40
    bpp: 4
    glyphs: ["\U000F0238", "\U000F0142", "\U000F0419", "\U000F0415"]

  - file:
      type: gfonts
      family: Roboto
      weight: 700
    id: roboto_huge
    size: 90
    bpp: 4
  
  - file: "gfonts://Roboto"
    id: roboto_medium
    size: 28
    bpp: 4

  - file: "gfonts://Roboto"
    id: roboto_small
    size: 20
    bpp: 4

image:
  - file: "images/dashboard_480x320.jpg"
    id: disp_bg
    type: RGB565

spi:
  - id: tft
    clk_pin: 14
    mosi_pin: 13
    miso_pin: 12

i2c:
  sda: GPIO33
  scl: GPIO32
  scan: true

output:
  - platform: ledc
    pin: 27
    frequency: 300
    id: gpio_backlight_pwm

light:
  - platform: monochromatic
    output: gpio_backlight_pwm
    name: ${devicename} Display Backlight
    id: back_light
    restore_mode: ALWAYS_ON

display:
  - id: main_display
    platform: ili9xxx
    model: ST7796
    spi_id: tft
    cs_pin: 15
    dc_pin: 2
    invert_colors: false
    update_interval: never
    auto_clear_enabled: false
    rotation: 270

touchscreen:
  - id: main_touchscreen
    platform: gt911
    reset_pin: GPIO25
    address: 0x5D
    display: main_display
    transform:
      swap_xy: true
      mirror_x: true
    on_release:
      - if:
          condition: lvgl.is_paused
          then:
            - lvgl.resume:
            - lvgl.widget.redraw:
            - light.turn_on: back_light

lvgl:
  color_depth: 16
  bg_color: 0x000000
  
  style_definitions:
    - id: style_text_orange
      text_color: 0xFF5722
    - id: style_text_white
      text_color: 0xFFFFFF
    - id: style_text_grey
      text_color: 0x888888
    
    - id: style_btn_action
      bg_color: 0x222222
      bg_opa: COVER
      border_width: 2
      border_color: 0xFF5722
      radius: 15
      text_color: 0xFFFFFF
      pad_all: 10
    - id: style_btn_action_pressed
      bg_color: 0xFF5722
      text_color: 0x000000

    - id: style_arc_main
      arc_width: 20
      arc_color: 0x333333
      arc_rounded: true
      bg_opa: TRANSP
      
    - id: style_arc_indicator
      arc_width: 20
      arc_color: 0xFF5722
      arc_rounded: true
      bg_color: 0xFF5722
      bg_opa: COVER

  pages:
    - id: page_dial
      widgets:
        - label:
            text: "ESTILO 1: DIAL"
            align: top_mid
            y: 10
            text_font: roboto_small
            text_color: 0x888888
        
        - arc:
            id: arc_thermostat
            width: 260
            height: 260
            align: center
            min_value: 15
            max_value: 30
            value: !lambda "return id(target_temp);"
            adjustable: true
            styles: style_arc_main
            arc_width: 20
            arc_color: 0xFF5722
            arc_rounded: true
            bg_color: 0xFF5722
            bg_opa: COVER            
            
            indicator:
              styles: style_arc_indicator
            
            on_value:
              - globals.set:
                  id: target_temp
                  value: !lambda "return x;"
              - lvgl.label.update:
                  id: lbl_target_dial
                  text:
                      format: "%.1f"
                      args: [ 'id(target_temp)' ]
        
        - obj:
            align: center
            width: 150
            height: 150
            bg_opa: TRANSP
            border_width: 0
            widgets:
              - label:
                  id: lbl_target_dial
                  text: "22.0"
                  text_font: roboto_medium
                  text_color: 0xFFFFFF
                  align: center
                  y: -10
              - label:
                  text: "Desejado"
                  text_font: roboto_small
                  text_color: 0x888888
                  align: bottom_mid
                  y: -20

    - id: page_buttons
      widgets:


        - label:
            text: "ESTILO 2: BOTOES"
            text_font: roboto_small
            text_color: 0x888888            
            align: top_mid
            y: 10

        - label:
            text: "Ambiente: 20.5"
            text_font: roboto_small
            text_color: 0x888888
            align: top_right
            y: 10                




        - button:
            width: 100
            height: 120
            x: 20
            align: left_mid
            styles: style_btn_action
            pressed:
              styles: style_btn_action_pressed
            widgets:
              - label:
                  text: "\U000F0419" # Minus
                  text_font: icons_40
                  align: center
            on_click:
              - globals.set:
                  id: target_temp
                  value: !lambda "return id(target_temp) - 0.5;"
              - lvgl.label.update:
                  id: lbl_target_btn


        - obj:
            align: center
            width: 180
            height: 150
            bg_opa: TRANSP
            border_width: 0
            widgets:
              - label:
                  id: lbl_target_btn
                  text: "22.0"
                  text_font: roboto_huge
                  text_color: 0xFF5722
                  align: center


        - button:
            width: 100
            height: 120
            x: -20
            align: right_mid
            styles: style_btn_action
            pressed: 
              styles: style_btn_action_pressed
            widgets:
              - label:
                  text: "\U000F0415" # Plus
                  text_font: icons_40
                  align: center
            on_click:
              - globals.set:
                  id: target_temp
                  value: !lambda "return id(target_temp) + 0.5;"
              - lvgl.label.update:
                  id: lbl_target_btn

    - id: page_slider
      widgets:
        - label:
            text: "ESTILO 3: SLIDER"
            align: top_mid
            y: 10
            text_font: roboto_small
            text_color: 0x888888

        - obj:
            align: center
            y: -40
            width: 300
            height: 120
            bg_opa: TRANSP
            border_width: 0
            widgets:
              - label:
                  id: lbl_target_slider
                  text: "22.0"
                  text_font: roboto_huge
                  text_color: 0xFFFFFF
                  align: center
              - label:
                  text: "Ajuste de Piso"
                  text_font: roboto_small
                  text_color: 0x888888
                  align: bottom_mid

        - slider:
            width: 400
            height: 40
            align: bottom_mid
            y: -60
            min_value: 15
            max_value: 30
            styles: style_arc_main
            indicator:
              styles: style_arc_indicator
            knob:
              styles: style_text_white
            on_value:
              - globals.set:
                  id: target_temp
                  value: !lambda "return x;"
              - lvgl.label.update:
                  id: lbl_target_slider
                  text:
                      format: "%.1f"
                      args: [ id(target_temp) ]

  top_layer:
    widgets:
      - label:
          text: "\U000F0238"
          text_font: icons_40
          text_color: 0x333333
          id: status_icon
          x: 20
          y: 15
          on_click:
            - if:
                condition:
                  lambda: "return id(is_heating);"
                then:
                  - globals.set:
                      id: is_heating
                      value: 'false'
                  - lvgl.label.update:
                      id: status_icon
                      text_color: 0x333333
                else:
                  - globals.set:
                      id: is_heating
                      value: 'true'
                  - lvgl.label.update:
                      id: status_icon
                      text_color: 0xFF5722

      - button:
          align: bottom_right
          x: -20
          y: -20
          width: 60
          height: 60
          radius: 30
          bg_color: 0x333333
          bg_opa: 80%
          border_width: 2
          border_color: 0xFFFFFF
          widgets:
            - label:
                text: "\U000F0142"
                text_font: icons_40
                align: center
                text_color: 0xFFFFFF
          on_click:
            - lvgl.page.next:
                time: 300ms
                animation: MOVE_LEFT
